body, h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

@mixin px {
  padding-left: 40px;
  padding-right: 40px;
}
@mixin py {
  padding-top: 15px;
  padding-bottom: 15px;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
  display: flex;
  align-items: center;
  a {
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding-left: 9px;
    padding-right: 9px;
  }
}
#logo-img {
  margin-right: 40px;
  width: 120px;
}

.black-menu {
  li:hover, li:hover a {
    color: #ffc600 !important
  }
}

header, footer {
  @include px;
  @include py;
}


.px {
  @include px;
}
.py {
  @include py;
}

.text-white {
  color: white;
}
.text-all-caps {
  text-transform: uppercase;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto{
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.transition-default {
  transition: 0.3s;
}
.transition-fast {
  transition: 0.15s;
}


.border-rounded {
  border-radius: 4000px;
}
.btn-outline {
  border: solid 2px;
  background-color: transparent;
}

.btn-large {
  width: 220px;
  max-width: 100%;
  height: 60px;
  padding: 13px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
}
.btn-white {
  background-color: white;
  color: black;
  border-color: white;
  &:hover {
    color: white;
    border-color: white;
    background-color: black;
  }
}

.btn-black {
  background-color: black;
  color: white;
  border: 2px solid black;
  &:hover {
    color: black;
    border-color: black;
    background-color: white;
  }
}
.btn-normal {
  padding: 10px;
  height: 40px;
  width: 100%;
  display: inline-block;
  text-align: center;
  @media screen and (min-width: 40em) {
    width:180px;
  }
}
.login-btn {
  background-color: #FF704B;
  color: white;
  margin-top: 15px;
  @media screen and (min-width: 40em) {
    margin-top: 0;
  }

  & > img {
    width: 20px;
    margin-right: 10px
  }
  & > span {
    letter-spacing: 1px;
  }
  &:hover {
    background-color: #ff9b47;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-banner-item {
  height: 600px;
  align-items: center;
  justify-content: center;

  .btn-large:hover {
    background-color: white;
    border-color: white;
    color: black;
  }
}
.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}

#banner-star-wars-logo {
  width:350px;
}
.banner-text-main {
  font-size: 40px;
}


.section-normal {
  max-width: 947px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-title {
  font-size: 32px;
}
.section-info {
  font-size: 18px;
  line-height: 30px;
}
.section-movies {
  --width-limit: 1183px;
  padding-top: 40px;
  padding-bottom: 50px;
  .width-limit {
    max-width: var(--width-limit);
  }
  #video-carousel {
    --offset-width: calc((100% - var(--width-limit))/2);
    max-width: calc(var(--width-limit) + var(--offset-width));
    position: relative;
    margin-left: var(--offset-width);
    margin-top: 29px;
  }
  .section-title {
    font-size: 28px;
  }
  .video-carousel-item {
    width: 285px;
    margin-right: 15px;
    &a {
      display: block;
    }
  }
  .video-title {
    font-size: 16px;
    margin-top: 7px;

    color: white;
  }
  .more-btn {
    height: 50px;
    border: 2px solid white;
    font-size: 18px;
    .right-arrow {
      filter: brightness(0);
    }
    &:hover .right-arrow {
      filter:brightness(1);
    }
  }
}

.slick-dots {
  $dot-size: 15px;
  bottom:15px;
  li {
    margin: 0 2.5px;
    width: $dot-size;
    height: $dot-size;
  }
  li button {
    padding: 0;
    width: $dot-size;
    height: $dot-size;
  }
  li button:before {
    font-size: $dot-size;
    color: white;
    opacity: 0.7;
    width: $dot-size;
    height: $dot-size;
    line-height: $dot-size;
  }
  li.slick-active button:before {
    color: white;
    opacity: 1;
  }
}

.section-trailer {
  #trailer-img {
    height: 400px;
    @media screen and (min-width: 40em) {
      height: 750px;
    }
  }

  .section-title {
    margin-top:30px;
    font-size: 32px;
  }

  .trailer-info {
    align-items: center;
    justify-content: center;
  }
  .width-limit {
    max-width: 512px;
  }

  .more-btn {
    height: 50px;
    width: 198px;
    font-size: 18px;
    &:hover .right-arrow {
      filter: brightness(0);
    }
  }
}
.right-arrow {
  width: 20px;
  margin-left: 8px;
  vertical-align: baseline;
}
.section-photos {
  width: 100%;
  justify-content: center;
  margin: 60px 0;
  & > a {
    width: 345px;
    height: 345px;
    margin-right: 8px;
    margin-bottom: 8px;
    &:hover {
      transform: scale(1.03);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.section-contact {
  max-width: 947px;
  h3.section-title {
    margin: 30px 0;
  }
  .submit-btn {
    height: 50px;
    font-size: 18px;
  }
  .cell {
    padding: 10px;
  }

  .form-input {
    height: 60px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #333333;
    margin-bottom: 0;
    padding: 18px 20px;
    font-size: 18px;
    &::placeholder {
      color: #666;
    }
  }
  textarea.form-input {
    height: 180px;
    margin-bottom: 10px;
  }
}

footer#footer {
  .width-limit {
    --width-limit: 1183px;
    max-width: var(--width-limit);
  }
  h5{
    font-size: 20px;
  }
  nav a {
    color: white;
    display: inline-block;
  }
  nav ul {
    margin-left: 0;
    font-size: 14px;
    list-style: none;
  }
  nav ul li a, nav ul li span {
    color: #CCC;
    margin: 2px 0;
  }
  nav ul li a:hover {
    color: #FFF;
  }
  .social-icons {
    width: 26px;
    margin-right: 10px;
  }
}
.copyright-block {
  padding: 20px;
  color: #666;
  font-size: 15px;
}