body, h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

@mixin px {
  padding-left: 40px;
  padding-right: 40px;
}
@mixin py {
  padding-top: 15px;
  padding-bottom: 15px;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
  display: flex;
  align-items: center;
  a {
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding-left: 9px;
    padding-right: 9px;
  }
}
#logo-img {
  margin-right: 40px;
  width: 120px;
}

.black-menu {
  li:hover, li:hover a {
    color: #ffc600 !important
  }
}

header, footer {
  @include px;
  @include py;
}


.px {
  @include px;
}
.py {
  @include py;
}

.text-white {
  color: white;
}
.text-all-caps {
  text-transform: uppercase;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto{
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.transition-default {
  transition: 0.3s;
}
.transition-fast {
  transition: 0.15s;
}


.border-rounded {
  border-radius: 4000px;
}
.btn-outline {
  border: solid 2px;
  background-color: transparent;
}

.btn-large {
  width: 220px;
  max-width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.btn-white {
  background-color: white;
  color: black;
  border-color: white;
  &:hover {
    color: white;
    border-color: white;
    background-color: black;
  }
}
.btn-normal {
  padding: 10px;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  @media screen and (min-width: 40em) {
    width:180px;
  }
}
.login-btn {
  background-color: #FF704B;
  color: white;

  & > img {
    width: 20px;
    margin-right: 10px
  }
  & > span {
    letter-spacing: 1px;
  }
  &:hover {
    background-color: #ff9b47;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-banner-item {
  height: 600px;
  align-items: center;
  justify-content: center;

  .btn-large:hover {
    background-color: white;
    border-color: white;
    color: black;
  }
}
.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}

#banner-star-wars-logo {
  width:350px;
}
.banner-text-main {
  font-size: 40px;
}


.section-normal {
  max-width: 947px;
  margin-top: 60px;
  margin-bottom: 60px;
  .section-title {
    font-size: 32px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
}
.section-movies {
  --width-limit: 1183px;
  padding-top: 40px;
  padding-bottom: 50px;
  .width-limit {
    max-width: var(--width-limit);
  }
  #video-carousel {
    --offset-width: calc((100% - var(--width-limit))/2);
    max-width: calc(var(--width-limit) + var(--offset-width));
    position: relative;
    margin-left: var(--offset-width);
  }
  .section-title {
    font-size: 28px;
  }
  .video-carousel-item {
    width: 285px;
    margin-right: 15px;
  }
  .video-title {
    font-size: 16px;
    margin-top: 7px;
  }
  .more-btn {
    height: 50px;
    border: 2px solid white;
    font-size: 18px;
  }
}

.slick-dots {
  $dot-size: 15px;
  bottom:15px;
  li {
    margin: 0 2.5px;
    width: $dot-size;
    height: $dot-size;
  }
  li button {
    padding: 0;
    width: $dot-size;
    height: $dot-size;
  }
  li button:before {
    font-size: $dot-size;
    color: white;
    opacity: 0.7;
    width: $dot-size;
    height: $dot-size;
    line-height: $dot-size;
  }
  li.slick-active button:before {
    color: white;
    opacity: 1;
  }
}